body {
	font-family: Arial, sans-serif;
}

h1 {
	font-weight: bold;
}

p {
	text-align: justify;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	text-decoration: none;
	color: #000;
	display: inline-block;
}

main {
	background-color: #f2f2f2;
}

section {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}

.fas {
	font-size: 18px;
	margin-right: 10px;
}
